
    body{
    padding: 0;
    margin: 0;
}
.box{
    background-color: #b4dbdb;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
.res{
    color:black;
    border: 2px solid white;
    border-radius: 2px;
    text-align: center;
    
}
.res:hover{
    
    color: blue;
}
.name:hover{
    color: red;
}
.head1{
    width: 100vw;
    height: 300px;
    background-color: rgb(208, 223, 223);
    text-align: center;
    border: 2px solid white;
    
}
.cont2{
    border: 2px solid white;
}
.name{
    padding-right: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 100px;
    
}
.add {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding-right: 100px;
}
.add2{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding-right: 100px;
}
.head2{
    padding-left: 50px;
    font-weight: lighter;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.sum{
    padding-left: 50px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
.skill{
    padding-left: 50px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.list{
    list-style-type: none;
    padding-left: 50px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.edu{
    padding-left: 50px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.info{
    padding-left: 50px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.ex{
    padding-left: 50px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.last{
    padding-left: 30px;
    list-style-type: none;
}
